@import '../base/variable.scss';

.category_selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    
    .left_icon {
        color: $icon_color;
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background-color: transparent;
        transition: all 0.3s ease;
        cursor: pointer;
        flex-shrink: 0;
        &:hover{
            background-color: $red;
            color: $white;
        }
    }
    
    .category {
        overflow-x: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display: none;
        }
        ul {
            display: flex;
            align-items: center;
            gap: 15px;

            .item {
                min-width: fit-content;
                font-size: 20px;
                font-weight: 600;
                line-height: 29.8px;
                color: $text_color;
                background-color:$list_bg ;
                padding: 5px 8px;
                border-radius: 9px;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $chip_bg_color;
                    color: $red;
                }
            }
            .item_active{
                min-width: fit-content;
                font-size: 20px;
                font-weight: 600;
                line-height: 29.8px;
                padding: 5px 8px;
                border-radius: 9px;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
                background-color: $chip_bg_color;
                color: $red;
            }
        }
    }
}







/* Extra Huge large desktops */
@media (min-width: 1920px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}
@media (min-width: 1300px) and (max-width: 1399px){
    .category_selector {
        margin-bottom: 27px;
        .left_icon {
        }
        .category {
            ul {
                .item {
                   font-size: 18px;
                }
                .item_active{
                    font-size: 18px;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.category_selector {
        margin-bottom: 24px;
        .left_icon {
        }
        .category {
            ul {
                .item {
                   font-size: 18px;
                   line-height: 24.8px;
                }
                .item_active{
                    font-size: 18px;
                    line-height: 24.8px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.category_selector {
        margin-bottom: 20px;
        .left_icon {
        }
        .category {
            ul {
                .item {
                   font-size: 17px;
                   line-height: 24.8px;
                }
                .item_active{
                    font-size: 17px;
                    line-height: 24.8px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .category_selector {
        margin-bottom: 20px;
        gap: 10px;
        .left_icon {
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-size: 14px;
        }
        .category {
            ul {
                gap: 10px;
                .item {
                   font-size: 16px;
                   line-height: 24.8px;
                }
                .item_active{
                    font-size: 16px;
                    line-height: 24.8px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .category_selector {
        margin-bottom: 12px;
        gap: 7px;
        .left_icon {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
        }
        .category {
            ul {
                gap: 7px;
                .item {
                   font-size: 14px;
                   line-height: 20.8px;
                   border-radius: 4px;
                }
                .item_active{
                    font-size: 14px;
                    line-height: 20.8px;
                    border-radius: 4px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.category_selector {
        margin-bottom: 10px;
        gap: 5px;
        .left_icon {
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-size: 11px;
        }
        .category {
            ul {
                gap: 5px;
                .item {
                   font-size: 13px;
                   padding: 3px 6px ;
                   line-height: 20.8px;
                   border-radius: 4px;
                }
                .item_active{
                    font-size: 13px;
                    padding: 3px 6px ;
                    line-height: 20.8px;
                    border-radius: 4px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}